---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = (await getCollection("post")).sort(
  (a, b) => b.data.created.valueOf() - a.data.created.valueOf(),
);

const title = "Patterns in Leaves";
const description = "Notes, essays, and projects by Keith Schumacher.";
---

<BaseLayout {title} {description}>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/${post.id}`}>{post.data.title}</a>
          <p>{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
